
:root {
  --color-primary-100: #E8EDF3;
--color-primary-200: #C6D3E2;
--color-primary-300: #A4B8D0;
--color-primary-400: #5F82AC;
--color-primary-500: #1b4d89;
--color-primary-600: #18457B;
--color-primary-700: #102E52;
--color-primary-800: #0C233E;
--color-primary-900: #081729;
--color-success-100: #F0F8F3;
--color-success-200: #DBEDE0;
--color-success-300: #C5E2CE;
--color-success-400: #99CDA9;
--color-success-500: #6db784;
--color-success-600: #62A577;
--color-success-700: #416E4F;
--color-success-800: #31523B;
--color-success-900: #213728;
--color-warning-100: #FEFCEF;
--color-warning-200: #FEF8D6;
--color-warning-300: #FDF4BD;
--color-warning-400: #FBEC8C;
--color-warning-500: #f9e45b;
--color-warning-600: #E0CD52;
--color-warning-700: #958937;
--color-warning-800: #706729;
--color-warning-900: #4B441B;
}
      